/repo
**/.idea
**/.vs
**/bin
**/obj
**/Gemfile.lock
/external
/**/external
/repo
/repo/**
/**/*.log
/saves/*.game
/**/.idea
/**/*.db
/**/target
/**/*.iml
/games/**/python/__pycache__
/games/.gitignore
/games/.gitignore_
/games/.git
/games/expansion/gameData
/games/.git_
/games/**/libs
/games/**/README.txt
/games/**/webapp/resources/user/*.zip
/*-portable
/stuff
/_temp/**
/portable/windows-cmd/codenjoy/**
/portable/windows-cmd/files/**
/portable/windows-cmd/git/**
/portable/windows-cmd/jdk*/**
/portable/windows-cmd/jetty*/**
/portable/windows-cmd/maven/**
/portable/windows-cmd/tools/**
/games/a2048/src/main/dotNet/A2048/packages/**
/games/loderunner/src/main/dotNet/Loderunner/packages/**
/games/bomberman/src/main/dotNet/Bomberman/packages/**
**/node_modules/
**/package-lock.json

.DS_Store